ul{
    padding:10px;
}
.carousel .carousel-item {
    height: 400px;
  }
  
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
  }
  .carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color:rgb(49, 43, 43);
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color:rgb(49, 43, 43);
}
.container1{
    padding: 24px;
}
body{
    background-color: #353434;;
}